* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}
.input {
  padding: 0.5rem 2.5rem;
  margin-top: 1rem;
}
.gallery {
  margin: 0 auto;
}

.inner-wrapper {
  box-shadow: 15px 5px 5px #333;
}

.inner-wrapper .thumb {
  padding: 2rem;
  min-width: 20%;
  transition: translate, brightness, 0.3s ease-in-out;
  filter: brightness(100%);
}

.inner-wrapper .thumb:hover {
  transform: translate(5px, -5px);
  filter: brightness(75%);
}
