* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery {
  margin: 0 auto;
}

.inner-wrapper {
  box-shadow: 15px 5px 5px #333;
}

.inner-wrapper .thumb {
  padding: 2rem;
  width: 20%;
}
